$primary__color--blue:#181f2a;
$primary__color--darkblue:#202a3c;
$primary__color--footer:#0b1523;
$color__white:#ffffff;
$accent__color__blue: #339ecc;
$accent__color__cyan: #65e2d9;
$font-base: 'Raleway',
sans-serif;
$font-secondary: 'Open Sans',
sans-serif;